---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contato">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contato</Fragment>
      <Fragment slot="desc">Dúvidas ou questionamentos?</Fragment>
    </Sectionhead>
    <div align="center" class="grid md:grid-cols-1 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Entre em contato!</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-20">
          Entre em contato através do e-mail oficial do evento, ou diretamente via WhatsApp:
        </p>
        <div class="mt-10">

          <div class="flex justify-center flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
            <p>
              festival.kawasuji@gmail.com
            </p>
          </div><div class="flex justify-center flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
            <p>
              WhatsApp:+55(19)99664-6622
            </p>
          </div>
        </div>
      </div>

    </div>
  </Container>
</Layout>
