---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Sobre o evento",
    path: "#",
    children: [
      { title: "O que é o Festival Kawasuji?", path: "/about/kawasuji" },
      { title: "Quem é Ryuu Taiko?", path: "/about-ryuu" },
      { title: "Quem é Yashika Daiko?", path: "/about-yashika" },
      { title: "Cronograma e Logística", path: "/404" },
    ],
  },
  {
    title: "Inscrições",
    path: "/inscricao",
    highlight: true,
  },
  {
    title: "Publicações e avisos",
    path: "/avisos",
  },
  {
    title: "Contato",
    path: "/contato",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><span class="text-slate-500">Festival</span><span
            class="font-bold text-slate-800">Kawasuji</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class={`flex lg:px-3 py-2 items-center ${
                        item.highlight
                          ? "text-white bg-[#9e0101] px-4 rounded-full hover:bg-[#530101] transition"
                          : "text-gray-600 hover:text-gray-900"
                      }`}>
                      <span>{item.title}</span>
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
