---
import { Picture } from "astro:assets";
import heroImage from "assets/Full_Official_logo.png";
import rightImage from "assets/right_side.png";
import leftImage from "assets/left_side.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="XVII Festival Kawasuji Logo"
      widths={[200, 300, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>

  <div>
    <h1
      class="font-extrabold md:text-[3.75rem] md:leading-none md:tracking-[0.04em] lg:text-[4.5rem] lg:leading-none">
      XVII FESTIVAL KAWASUJI DE TAIKO
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">Página Oficial do Evento</p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="/inscricao"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">

        Inscreva seu grupo!
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/sobre"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        Saiba mais
      </Link>
    </div>
  </div>

</main>
